[Unit]
Description=Flood Sensor Monitoring Service
After=network.target

[Service]
Type=oneshot
ExecStart=/home/wmobley/Desktop/Flood-Sensor/run.sh start Server
ExecStop=/home/wmobley/Desktop/Flood-Sensor/run.sh stop
RemainAfterExit=true
StandardOutput=append:/home/wmobley/Desktop/Flood-Sensor/systemd-flood.log
StandardError=append:/home/wmobley/Desktop/Flood-Sensor/systemd-flood.log

[Install]
WantedBy=multi-user.target
