[Unit]
Description=Rain Gauge Uploader Service
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/wmobley/Desktop/Flood-Sensor
ExecStart=/home/wmobley/Desktop/Flood-Sensor/venv/bin/python3 /home/wmobley/Desktop/Flood-Sensor/raingauge_uploader.py
User=wmobley
Group=wmobley
Environment=PYTHONUNBUFFERED=1
